.footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #2e0039;
  justify-content: center;
}
.footer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin: 15px;
}
