.save {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #676767;
  margin-left: 25%;
  margin-top: 5%;
}
.save_height{
  min-height: 500px;
}
.column_save{
  display: grid;
  grid-template-columns: 60px 60px;
 
}
.save_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
  margin-top: 25%;
  width: 349px;
  height: 38px;
  background: #E3E3E3;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;


}

.save_list p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;

color: #676767;

}





@media only screen and (max-width: 1000px) {
  .save {
    margin-left: 5%;
    margin-top: 10%;
  }
}
